<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbPY0_SB41NTY3HPrdJmKTSktke5PZRes</string>
	<key>GCM_SENDER_ID</key>
	<string>201340134121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pixanaReloaded.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pixana-reloaded</string>
	<key>STORAGE_BUCKET</key>
	<string>pixana-reloaded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201340134121:ios:abea5156e27c7f5af08678</string>
</dict>
</plist>